@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Estiliza aparenas o IE e EDGE */
_:-ms-lang(x), body {background:black;}

/*Estiliza apenas o Mozilla*/
@-moz-document url-prefix(){
    body{
        background: green;
    }
}

/***    COLORS VARS    ***/
:root{
    --color-bg:black;
    --color-text:white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height:100%;
    scroll-behavior: smooth;
}

.clear{
    clear:both;
}

.link-off{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
    display: inline;
}

.link-off a{
    color: var(--color-text);
}

header{
    background: var(--color-bg);
    height: 80px;
    width:100%;
}

.logo{
    background-image: url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 60px;
    margin-top: 15px;
}

header nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 80px;
}

/**Mobile Menu**/

header nav.mobile-menu{
    display: none;
}

header nav.mobile-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
}

.icon-menu-mobile{
    cursor: pointer;
}

.icon-menu-mobile i{
    color: var(--color-text);
    font-size: 2rem;
}
/***Desktop menu***/

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu ul li{
    display: inline-block;
}

header nav.desktop-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    text-transform: uppercase;
}

.menu-center-desktop{
    display: flex;
    justify-content: center;
    height: 100%;
}

.menu-center-desktop li{
    margin: 0 10px;
    font-size: 16px;
    border-bottom: 6px solid rgb(1, 1, 41);
    border-radius:1px;
    transition: 0.5s;
}

.menu-center-desktop li:hover{
    color: var(--color-text);
    border-bottom: 6px solid red;
}

.menu-center-desktop li a{
    position: relative;
    top: 24px;
}

.login-menu{
    display: flex;
    align-items: center;
    border: 1px solid red;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 14px;
}

.login-menu li{
    margin: 0px 5px;
}

.login-menu li a i{
    color: red;
    font-size: 20px;
}

/***Primeira sessão style***/

.sorteios{
    background-color: var(--color-bg);
    padding: 30px 2% 60px 2%;
    color: var(--color-text);
}

.title-section h2{
    text-transform: uppercase;
    padding-left: 8px;
    border-left: 6px solid rgb(1, 1, 41);
    font-size: 28px;
    font-weight: bold;
}

.title-section h2 i{
    color: rgb(208, 137, 6);
    margin:0 6px;
}

.item-sorteio{
    /*width: 33.3%;
    min-width: 300px;*/
    background-color: var(--color-bg);
    margin-bottom: 20px;
}

.item-sorteio .icon_expand{
    position: relative;
    bottom: 25px;
    left: 10px;
}

.item-sorteio .card-img{
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body{
    padding: 10px 0px 0px 0px;
}

.card-body .card-text{
    font-size: 14px;
}

.card-body #lead_button{
    width: 100%;
    background: green;
    border: none;
}

/***Primeira parte da sessao ganhadores***/

section.ganhadores{
    padding: 40px 0px;
    background-color: rgb(1, 1, 55);
    color: var(--color-text);
}

.box-winner{
    width:100%;
    height: 120px;
    background: black;
    padding: 1.2rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box-winner p{
    max-width: 70%;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-bottom: 0;
}

.box-winner p span{
    font-weight:bold;
    font-size: 15px;
}

.box-title{
    width:100%;
    display: flex;
}

.box-title h4{
    margin: 0;
}

p#numero-premiado{
    margin: 0px 0px 0px 15px;
    background: red;
    padding: 3px 4px;
    border-radius: 10px;
    display: inline;
    color: white;
    font-weight: bold;
}

.user-foto{
    position: relative;
    left: 20px;
    bottom: 28px;
    display: inline-block;
}

.user-foto img{
    height: 80px;
    border-radius: 50%;
}

/***Segunda parte da sessao ganhadores***/

.box-payment{
    height: 60px;
    background: var(--color-bg);
    display: flex;
    line-height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-payment img{
    height: 60px;
    max-width: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.box-payment a{
    text-decoration: none;
    color: var(--color-text);
    margin-left: 20px;
    font-weight: bold;
}

.box-payment a:hover{
    text-decoration: underline;
}

/***FOOTER STYLE***/
footer{
    background: var(--color-bg);
    padding: 40px 0;
    color: var(--color-text);
}

footer .footer-text p{
    color: rgb(150, 150, 150);
    max-width: 250px;
}

.footer-title h3{
    font-size: 20px;
    font-weight: bold;
}

/***FOOTER MENU STYLE***/
.footer-menu{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.footer-menu ul{
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: none!important;
}

.footer-menu ul li{
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
}

.footer-menu ul li a{ 
    color: var(--color-text);
    text-decoration: none;
}

.footer-menu, ul li a:hover{ 
    text-decoration: underline;
}

.footer-menu-social{
    list-style-type: none;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.footer-menu-social li{ 
    line-height: 30px;
}

.footer-menu-social li a{ 
    color: var(--color-text);
    text-decoration: none;
}

.footer-menu-social li a svg{ 
    color: var(--color-text);
    width: 30px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 40%;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.footer-copyright{
    text-align: center;
    color: rgb(128, 128, 128);
}

.footer-copyright span{
    color: var(--color-text);
}

.footer-copyright span:hover{
    text-decoration: underline;
}


/***MEDIA QUERIES***/

@media screen and (max-width:991px){
    .box-winner{
        height: 150px;
        padding: 1rem 1rem 0px 1rem;
    }
    
    .box-winner p{
        float: none;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .box-title{
        width:100%;
        display: block;
    }
    
    .box-title h4{
        margin: 0;
        font-size: 18px;
    }
    
    p#numero-premiado{
        margin: 0px;
        display: inline;
    }
    
    .user-foto{
        float: right;
        display: block;
    }
    
    .user-foto img{
        height: 60px;
        border-radius: 50%;
        position: relative;
        top: -40px;
        right: 20px;
    }
}

@media screen and (max-width:768px){
    .item-sorteio .card-img{
        height: 80%;
    }
    
    nav.desktop-menu{
        display: none;
        /*Remove All Menu Desktop*/
    }

    header nav.mobile-menu{
        display: block;
        /*Menu For Mobile*/
    }

    .item-sorteio{
        height:auto;
        margin-bottom: 10px;
    }

    .item-sorteio .card-img{
        height: 100% !important;
    }

    .box-winner{
        height: auto;
        padding: 1rem 1rem 0px 1rem;
    }
    
    .box-winner p{
        float: left;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .box-title{
        width:100%;
        display: flex;
    }
    
    .box-title h4{
        margin: 0;
        font-size: 18px;
    }
    
    p#numero-premiado{
        margin-left: 15px;
        display: inline;
    }
    
    .user-foto{
        float: right;
        display: block;
    }
    
    .user-foto img{
        height: 70px;
        border-radius: 50%;
        position: relative;
        top: 8px;
        right: 20px;
    }

    footer .col-12{
        margin-bottom: 30px;
    }

    footer .footer-text p{
        max-width: none;
        text-align: left;
    }
    
    .footer-title{
        text-align: left;
    }

    .footer-menu{
        justify-content: center;
    }
    
    .footer-menu-social{
        justify-content: center;
    }
}